* {
	scroll-behavior: smooth;
}

header {
	background-color: rgb(248, 38, 38);
	font-size: 18px;
	padding: 8px 12px;
	font-weight: 700;
	color: rgb(255, 255, 255);
	display: flex;
}

header a {
	color: rgb(255, 255, 255);
	display: block;
	margin-left: auto;
	font-weight: 400;
}

body {
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

h1 a {
	text-decoration: none;
	color: black;
}

.marginTop100px {
	margin-top: 100px;
}

.goTop {
	display: inline;
	position: fixed;
	background-color: white;
	border: solid black 5px;
	padding: 8px 8px;
	border-radius: 25px;
	bottom: 30px;
	right: 30px;
}

.goTop img {
	width: 50px;
}

#container {
	text-align: center;
}

.box1 {
	display: flex;
	margin: 10px 20px;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.clock {
	width: 100%;
	text-align: center;
}

h1 {
	font-size: 48px;
	font-weight: 900;
}

h4 {
	margin-bottom: 0px;
}

h3 {
	font-size: 24px;
	margin: 0px;
}

h2 {
	font-size: 90px;
	margin: 0px;
	font-weight: 800;
}

p {
	font-size: 24px;
	margin: 0;
}

h5 {
	font-size: 15px;
	margin: 0;
}

table {
	display: flex;
	justify-content: center;
}

th {
	font-size: 24px;
	border-left: solid 5px;
}

.tdTime {
	font-size: 8px;
	font-weight: 600;
}

td {
	padding: 8px 12px;
	font-size: 18px;
	font-weight: 600;
}

.c {
	font-weight: 800;
}

.lunch {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
	margin-bottom: 20px;
}

.icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;
	margin-top: 80px;
}

.oneBTN {
	display: flex;
	margin: 8px 50px;
	flex-direction: column;
}

#todoListBTN,
#mindBTN,
#tableBTN {
	color: white;
	background-color: #ec2c2c;
	transition: 0.3s;
	font-size: 36px;
	width: 80px;
	height: 80px;
	border-radius: 20px;
	outline: none;
	border: none;
	cursor: pointer;
	margin-bottom: 3px;
	box-shadow: 0 4px 6px rgba(19, 19, 19, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#todoListBTN:hover,
#mindBTN:hover,
#tableBTN:hover {
	background-color: #c71515;
}

.previous,
.today,
.next {
	background-color: rgb(29, 29, 29);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	height: 150px;
	margin: 8px 12px;
	padding: 12px 16px;
	color: rgb(209, 209, 209);
	border-radius: 15px;
}

#previousLunch,
#todayLunch,
#nextLunch {
	font-size: 22px;
	font-weight: 100;
	display: block;
	margin: auto 0;
}

strong {
	font-size: 16px;
	font-weight: 700;
}

.mindTitle {
	font-size: 32px;
	font-weight: 800;
	margin-bottom: 20px;
}

.subMindTitle {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 100px;
}

.subTodoTitle {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 50px;
}

.inner {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#text {
	width: 25em;
	font-size: 20px;
	font-weight: 300;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: rgb(228, 228, 228);
	padding: 16px 12px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(19, 19, 19, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#previous,
#next {
	background: none;
	outline: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
	margin-bottom: 50px;
}

#emailInput,
#inputValue {
	width: 20rem;
	font-size: 20px;
	border-radius: 10px;
	padding: 8px 12px;
	outline: none;
}

#submit {
	background-color: black;
	border-radius: 5px;
	outline: none;
	border: none;
	color: white;
	font-size: 20px;
	padding: 6px 12px;
	font-weight: 800;
	cursor: pointer;
}

.todoList {
	margin-bottom: 100px;
}

#js_todoList {
	list-style: none;
	padding-left: 0;
}

#js_todoList li {
	font-size: 20px;
	font-weight: 700;
	margin: 8px 12px;
}

#delBTN {
	background: none;
	border: solid black 2px;
	width: 35px;
	height: 35px;
	border-radius: 5px;
	padding-right: 20px;
	margin-right: 20px;
}

#disqus_thread {
	margin: 8px 50px;
}

@media only screen and (max-width: 375px) {
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 50px;
	}
	table {
		margin-top: 50px;
	}
	th {
		font-size: 20px;
	}
	td {
		font-size: 10px;
	}
	.lunch {
		flex-direction: column;
	}
	.previous,
	.today,
	.next {
		width: 80%;
	}
	#status {
		font-size: 20px;
	}
}

@media only screen and (max-width: 414px) {
	header {
		font-size: 12px;
	}
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 58px;
	}
	table {
		margin-top: 50px;
	}
	th {
		font-size: 20px;
	}
	td {
		font-size: 12px;
	}
	.lunch {
		flex-direction: column;
	}
	.previous,
	.today,
	.next {
		width: 80%;
	}
	#text {
		width: 15em;
	}
	#submit {
		margin-top: 20px;
	}
	.goTop img {
		width: 10px;
	}
}

footer {
	text-align: center;
	background-color: #e6e6e6;
	padding: 16px 12px;
	margin-top: 100px;
}

.blue {
	color: rgb(248, 53, 53);
}

/*---------이거 지우면 뒤짐------------*/
.hide {
	display: none;
}
/*---------------이거 지우면 뒤짐---------------*/
